.field {
  width: 90%;
  height: 20%;
}
.close-button {
  width: 20%;
  margin-top: 10%;
  border-style: solid;
  border-color: black;
  background-color: #f96b6b;
}
.send-button {
  width: 20%;
  margin-top: 10%;
  margin-left: 10%;
  border-style: solid;
  border-color: black;
  background-color: rgb(113, 113, 218);
}
.forget-question {
  font-weight: bold;
  font-size: 15px;
}
